body{
  background: #F7F8FC;
}

.list__item:hover{
  position: relative;
  
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}

.active{
  position: relative;
  background-color:#3E4049;
  color: #fff;
  
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}

.list__item:hover , .active .list__item-span{
  color: #fff;
}

.list__item:hover , .tactive .overview{
  color: #fff;
}

.list__item:hover , .active .tickets{
  color: #fff;
}

.list__item:hover , .active .ideas{
  color: #fff;
}