.list__item:hover{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}

.list__item:active{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}

.list__item:hover .list__item-span{
  color: #fff;

}
