.overview__card:hover .overview__card-title{
  color:#939ee5;
}

.overview__card:active .overview__card-title{
  color: #3751FF;
}

.overview__card:hover .overview__card-num{
  color:#939ee5;
}


.overview__card:active .overview__card-num{
  color: #3751FF;
}

